<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PpeDorm0270Mapper">
	
    <!-- 조회 -->
    <select id="selectList" resultType="resultData">
    SELECT C.SORTKEY 
	     , B.HAKGWA 
	     , B.DAEHAK 
	     , A.HAKYEON 
	     , A.TOTJUMSU 
	     , A.HAKBUN 
	     , B.IRUM 
	     , A.DORMGBN 
	     , A.SEX 
	     , A.IPGBN 
	     , C.HAKGWAFNM 
	     , A.STATE 
	     , A.DONG 
	     , A.SIL 
	     , A.SIL2 
	     , A.SEQ
	     , DECODE((SELECT COUNT(*) CNT FROM EAGLE.DORMROOM WHERE HAKBUN = A.HAKBUN AND USINGYN = 'Y'), '0', '미배정' , '배정') AS CHK 
	  FROM EAGLE.DOMASTER A 
	     , EAGLE.SHJHAKJM B 
	     , EAGLE.SGCHAKCM C 
	 WHERE 1=1 
	   AND A.HAKBUN   = B.HAKBUN 
	   AND B.HAKGWA   = C.HAKGWA
	   AND A.YEONDO   = #{yeondo}
	   AND A.HAKGI    = #{hakgi}
	       
 	<if test = "state != null and state != ''"> 
	   <if test = "state == 1">
	   AND A.STATE Between '1' And '2'
	   AND A.SEX = '1'
	   </if>
	   <if test = "state == 2">
	   AND A.STATE Between '3' And '4'
	   AND A.SEX = '2'
	   </if>
	   <if test = "state == 3">
	   AND A.STATE Between '5' And '6'
	   AND A.SEX = '1'
	   </if>
   </if>
	       
	 ORDER BY C.SORTKEY 
	        , B.HAKGWA 
	        , A.HAKYEON 
	        , A.TOTJUMSU DESC
    </select>
    
    <select id="selectRoom" resultType="resultData">
    SELECT 'N' AS FLAG
	     , DONG
	     , SIL
	     , SIL2
	     , NUM
	     , USINGYN
	     , LAYER
	     , HAKBUN
	     , '' AS DAEHAK
	     , '' AS HAKGWAFNM
	     , '' AS HAKYEON
	     , '' AS IRUM
	     , '' AS SEX
	     , '' AS CHK
	  FROM EAGLE.DORMROOM
	 WHERE 1=1
	   AND USINGYN = 'N'
	  
	<if test = "dong != null and dong !=''">
	   AND DONG    = #{dong}
	</if>
	   AND YEONDO  = #{yeondo}
	   AND HAKGI   = #{hakgi}

	 ORDER BY SIL
	        , SIL2
	        , NUM
     </select>
     
     <update id="update">
     BEGIN	
	
		<!-- 기존에 배정된 생활관 배정을 해제 -->
	    UPDATE EAGLE.DORMROOM
		   SET USINGYN = 'N'			   
		 WHERE HAKBUN  = #{hakbun};
		 	
		<!-- 지정된 생활관에 학생을 새롭게 배정 -->
		UPDATE EAGLE.DORMROOM
		   SET USINGYN = 'Y'
		     , HAKBUN  = #{hakbun}
		     , USEDATE = SYSDATE			   
		 WHERE DONG    = #{dong}
		   AND SIL     = #{sil}
		   <if test = "sil2 != null and sil2 != ''">
		   AND SIL2    = #{sil2}
		   </if>    
		   AND NUM     = #{num};
		    
		<!-- 학생 정보 테이블에도 동일한 배정 정보로 업데이트 -->
		UPDATE EAGLE.DOMASTER
		   SET DONG    = #{dong}
		     , SIL     = #{sil}
		     <if test = "sil2 != null and sil2 != ''">
		     , SIL2    = #{sil2} 
		     </if>
		 WHERE YEONDO||HAKGI IN(SELECT YEAR||HAKGI FROM EAGLE.COM_YEAR WHERE BUSS_GRP_CD = '00203006' AND BUSS_FG = 'DORM_20' AND USE_YN = 'Y')
		   AND HAKBUN  = #{hakbun};
		   
	 END ;
     </update>
</mapper>

<!-- 

WHERE YEONDO||HAKGI IN(SELECT YEAR||HAKGI FROM EAGLE.COM_YEAR WHERE BUSS_GRP_CD = '00203006' AND BUSS_FG = 'DORM_20' AND USE_YN = 'Y')
		   AND HAKBUN  = #{hakbun};

1) 서브쿼리 진행 
EAGLE.COM_YEAR에 BUSS_GRP_CD의 값이 '00203006'이고, BUSS_FG가 DORM_20이고, USE_YN이 'Y'인 값을 찾아서
YEAR||HAKGI를 통해 문자열 결합을 진행함

2) 메인쿼리 진행
서브쿼리의 결과로 나온 N개의 행 중에서, EAGLE.DOMASTER의 YEONDO||HAKGI의 행과 일치하며, HAKBUN 칼럼에
값이 있는 데이터를 UPDATE를 통해 바꿈
-->